<div class="container container-add">
  <h2>Редактирование загогулины</h2>
  <br/>
  <%= render 'form', item: @item %>
</div class="container"> 

<%= link_to 'Show', @item %> |
<%= link_to 'Back', items_path %>
