<% provide(:title, "Категории") %>
<p id="notice"><%= notice %></p>

<section class="publicaciones-blog-home">
    <div class="container container-all">
        <div class="row">
            <div class="col-md-9">
                <h3>New category</h3>
            </div>
            <div class="col-md-3 pull-right">
              <%= link_to 'Back', categories_path, :class => "btn btn-info" %>
            </div>
        </div>
        <br/>
        
        <%= render 'form', category: @category %>
    </div>
</section>