<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container container-header">
    <nav>
      <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Test", :root, :class => "navbar-brand" %></li>
        <li><%= link_to "Загогулины", :items %></li>
        <li><%= link_to "Категории", :categories %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>